replicaCount: 1

image:
  repository: ghcr.io/savinovvu/haction-demo/haction-demo
  tag: master-e74c798
  pullPolicy: IfNotPresent

app:
  name: "quotes-demo"
  port: 8080  # <-- ДОБАВЬТЕ ЭТУ СТРОКУ

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: false

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"

livenessProbe:
  path: /actuator/health
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  path: /actuator/health
  initialDelaySeconds: 15
  periodSeconds: 5